body,
html {
    position: fixed;
    margin: 0%;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../pic/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}